question = input('Ask a question (off - Complete):')
while question != 'off':
    if question == 'Question 1':
        print ('Answer 1')
    elif question == 'Question 2':
        print ('Answer 2')
    elif question == 'Question 3':
        print ('Answer 3')
    elif question == 'Question 4':
        print ('Answer 4')
    elif question == 'Question 5':
        print ('Answer 5')
    elif question == 'Question 6':
        print ('Answer 6')
    elif question == 'Question 7':
        print ('Answer 7')
    elif question == 'Question 8':
        print ('Answer 9')
    elif question == 'Question 9':
        print ('Answer 9')
    elif question == 'Question 10':
        print ('Answer 10')
    else:
        print ('Unknown command')
    question = input('Ask a question (off - Complete):')
